
// additinal normalizations / opinionated defaults


// inputs

// hand cursor on label
label {
  cursor: pointer;
}

// align input text properly
input, select {
  vertical-align: middle;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}

// allow only vertical resizing of textareas.
textarea {
  resize: vertical;
}

// lists

ul {
  @include reset-box-model;
  list-style-type: none; // no bullets by default (e.g. used in navigation)
}
